.container {
    display: flex;
    flex-direction: column;
    background-color: black;
    border: 1px solid rgb(173, 171, 171);
    border-radius: 0 0 0 12px;

}

.navigateContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    
}

.navLink {
    text-decoration: none;
    color: white
}

.navLink:hover {
    transition: .5s;
    color: rgb(121, 120, 120);
}